/* Общий стиль */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Шапка сайта */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Основной контент */
.index-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.about-main {
    padding: 20px;
    text-align: center;
}

.team {
    background: #D6CFC7;
    width: 250px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 18px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.tagline {
    font-style: italic;
    font-size: 1.1rem;
}

/* Стили для формы */

.contact-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Заголовок формы */
.contact-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Поля ввода */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Кнопка отправки */
.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Футер */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
        }
