{% extends "base.html" %}


{% block title %}Contact{% endblock %}

{% block content %}
{% if request.method == 'POST' %}
    <h1>{{ name  }} Ваше, сообщение отправлено!</h1>
{% else %}
<div class="container">
    <h1>Contact Us</h1>
    <form class="contact-form">
        <input type="text" placeholder="Your Name:" required>
        <input type="email" placeholder="Your Email:" required>
        <textarea placeholder="Your Message:" required></textarea>
        <button type="submit">Send</button>
    </form>
    <h1>Возникли вопросы? Тогда приезжайте к Нам:</h1>
    <h3>{{ info.name }}</h3>
    <p>{{ info.address.street }}</p>
    <p>{{ info.address.city }}</p>
    <p>{{ info.address.zip }}</p>
</div>
{% endif %}
{% endblock %}
